<!DOCTYPE html>
<html lang="en" data-th-replace="~{pages/base::parent(~{::#m},~{::title},~{::script})}" xmlns:th="http://www.thymleaf.org">

<head>
<title>Active Case</title>
</head>
<body>

<main>
   <section id="m">
     <div  style="margin-left:250px; width:500px; height:50px;">
          <div data-th-replace="~{message :: messagebox}"></div>           
     </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Active Case</h6>
              </div>
            </div>
           
            <div class="card-body px-0 pb-2">

              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-secondary opacity-10"> Date </th>
                      <th class="text-secondary opacity-10"> Customer ID</th>                                     
                      <th class="text-secondary opacity-10"> Customer Name</th>                    
                      <th class="text-secondary opacity-10"> Loan Type</th>   
                      <th class="text-secondary opacity-10"> Income Source</th> 
                      <th class="text-secondary opacity-10"> Action </th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr                     
                     data-th-object="${ac}"
                     data-th-each="ac:${Active}"
                    >
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                             <h6 data-th-text="${#dates.format(ac.activecaseDate, 'dd-MM-yyyy')}"></h6>
                          </div>
                      </td>

                      
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6  data-th-text="*{ClientActiveNumber}"></h6>
                          </div>
                      </td>
                    
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 data-th-text="*{clientName}"></h6>
                          </div>
                        </div>
                      </td>
                                          
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 data-th-text="*{clientLoanty}"> </h6>
                          </div>
                      </td>
                      
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6  data-th-text="*{clientIncome}"> </h6>
                          </div>                      
                      </td>
                   
                      <td> 
                           <a data-th-href ="@{'/user/docmentup/'+*{cibilId}}" class="btn btn-lg bg-gradient-primary">Doc_upload</a>                                                                                                                         			       
				      </td>  
				                                            
                    </tr>                                     
                  </tbody>               
                </table>
                
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   </section>
  <script>
  console.log("CibilMis page")
  </script>
</main>
	
</body> 

</html>























