<!DOCTYPE html>
<html lang="en" 
      data-th-replace="~{pages/base::parent(~{::#data},~{::title},~{::script})}" 
      xmlns:th="http://www.thymleaf.org">
<head>
<title>Cibil Form</title>
</head>
<body>

<main>
   <section id="data">
	<div class="container-fluid py-4">
	     <div class="row">
	        <div class="col-12">
	          <div class="card my-4">
	            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
	              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
	                <h6 class="text-white text-capitalize ps-3">Cibil Application Form</h6>
	              </div>
	            </div>
	            <div class="card-body px-0 pb-2">
	              <div class="table-responsive p-0">					   
							      <div class="page-header min-vh-100">
							        <div class="container">
							          <div class="row">
							            <div class="col-5 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
							              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/img/office-dark.jpg'); background-size: cover;">
							              </div>
							            </div>
							            <div class="col-xl-6 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
							              <div class="card card-plain">
							                <div class="card-body">
							                    <form data-th-action="@{'/user/cibilreturn'}" method="post"  data-th-object="${cibilclientform}"  >              
								             	   <div class="input-group input-group-outline mb-3">           	        
								             	              <label class="form-label">Customer Name</label>
										                      <input type="text" id="clientname" class="form-control"  data-th-field="*{clientname}" style="text-transform:capitalize;" required>         
										           </div>
										          <div class="input-group input-group-outline mb-3"> 
										                      <label class="form-label">Contact</label>
								       						  <input type="text" id="clientnumber" class="form-control" data-th-field="*{clientnumber}" maxlength="10"  required>
								                    </div>
								                    
								                    <div class="input-group input-group-outline mb-3">           	        
								             	              <label class="form-label">Email Id</label>
										                      <input type="email" id="clientemail" class="form-control" data-th-field="*{clientemail}" style="text-transform:lowercase;" required>         
										           </div>
										           <div class="input-group input-group-outline mb-3">
										                      <label class="form-label">Pan Number</label>
								       						  <input type="text"  class="form-control" data-th-field="*{clientpan}" maxlength="10" style="text-transform:uppercase;"  required>
								                    </div>
								                    <div class="input-group input-group-outline mb-3">           	        
								             	              <label  class="me-5 mt-2">Date of Birthday</label>
 															  <input type="date"  class="form-control" th:field="*{clientbod}" required>         
										           </div>
										           
										           <div class="input-group input-group-outline mb-3">
										                      <label class="form-label">Address</label>
								       						  <input type="text"  class="form-control" data-th-field="*{clientaddress}" required>
								                    </div>
								                    <div class="input-group input-group-outline mb-3">           	        
								             	              <label class="form-label">Pin Code</label>
										                      <input type="text" class="form-control" data-th-field="*{clientpin}" maxlength="6"  required>         
										           </div>
										         								                    
								                    <div class="input-group input-group-outline mb-3">
													    <select class="form-select" name="clientloanty" id="clientloanty"  data-th-field="*{clientloanty}" required>
																 <option  value=""> Loan Type</option>
								                                  <option value="Personal Loan"> Personal Loan</option>
											                      <option value="Business Loan"> Business Loan</option>
											                      <option value="Housing Loan"> Housing Loan</option>
											                      <option value="Mortgage Loan"> Mortgage Loan</option>
											                      <option value="Vehicle Loan"> Vehicle Loan</option>
											                      <option value="Over Draft Loan"> Over Draft Loan</option>
											                      <option value="Personal+BT"> Personal Loan BT</option>
											                      <option value="Business+BT"> Business Loan BT</option>
											                      <option value="Housing+BT"> Housing Loan BT</option>
											                      <option value="Mortgage+BT"> Mortgage Loan BT</option>
											                      <option value="Vehicle+BT"> Vehicle Loan BT</option>
													    </select>
													</div>
																														    	
								                    <div class="input-group input-group-outline mb-3">
								                    <select class="form-select" name="clientIncome" id="clientIncome"  data-th-field="*{clientIncome}" required>
																 <option value="">Income Source </option>
								                                  <option value="Job"> Job</option>
											                      <option value="Business"> Business</option>
											                     
													    </select>            						       						  
								                    </div>
								                  
													 <div class="text-center">
									                      <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Submit</button>
									                 </div> 
												</form>              
							                </div>						
							              </div>
							            </div>
							          </div>
							        </div>
							      </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      
	    </div>
   </section>
  <script>
  console.log("Cibil form page")
  </script>
</main>
	
</body> 

</html>