<!DOCTYPE>
<html lang="en" 
data-th-replace="~{pages/base :: parent(~{::#h},~{::title},~{::script})}"
xmlns:th="http://www.thymleaf.org">
<head>
<title>Makecalls</title>
</head>
<body>
<main>
   <section id="h">
      <div class="container-fluid py-4">
       <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Make Call</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0"  id="dataTable">
                  <thead>
                    <tr>
                      <th class="text-secondary opacity-7">Client Name</th>
                      <th class="text-secondary opacity-7">Call</th>
                      <th class="text-secondary opacity-7">Status</th>
                      <th class="text-secondary opacity-7">Interested</th>
                      <th class="text-secondary opacity-7">Date</th>
                      <th class="text-secondary opacity-7">Notes</th>                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                    data-th-object="${c}"
                    data-th-each="c : ${clients}"
                    >
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img 
                             onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                            data-th-src="@{*{cImage}}"
                            src="/img/team-2.jpg" 
                            class="avatar avatar-sm me-3 border-radius-lg" 
                            alt="user"
                            >
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 
                            class="mb-0 text-sm"
                            data-th-text="*{cName}"
                            >Stephen Nadar</h6>
                            <p 
                            class="text-xs text-secondary mb-0"
                            data-th-text="*{cEmail}"
                            >sn@orkaitsolutions.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
						   <button class="call-button" onclick="openModal()">Call</button>
						
						    <div id="callModal" class="modal">
						        <div class="modal-content">
						            <span class="close" onclick="closeModal()">&times;</span>
						            
						            <!-- Image in the modal (centered) -->
						            <img src="/img/us2.png" alt="Call Icon" class="call-image">
						
						            <!-- Buttons placed side by side with 2px space -->
						            <div class="button-container">
						                <button class="call-action" onclick="makeCall()"><i class="material-icons mt-1">call</i></button>
						                <button class="call-end" onclick="endCall()"><i class="material-icons mt-1">call_end</i></button>
						            </div>
						        </div>
						    </div>                
				     </td>
                      <td class="align-middle text-center text-sm">
                        <div class="input-group mb-1">
						  <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
						    <option value="nothing">Nothing</option>
						    <option value="ringing">Ringing</option>
						    <option value="busy">Busy</option>
						    <option value="outofRange">Out of range</option>
						    <option value="switchoff">Switched-off</option>
						    <option value="NoDNE">No. does not exists</option>						    
						  </select>
						</div>
                      </td>
                      <td>
                          <div class="container">
					        <button style="height:40px;" id="interest-button" class="not-interested" data-th-value="*{cInterest}">NOT INTERESTED</button>
					      </div>
					      <script src="/js/script.js"></script>                                                  
                      </td>
                      <td 
                      data-th-text="*{cLastDateContacted}"
                      class="align-middle text-center">
                        10/01/00
                      </td>
                      <td >
						 <div data-mdb-input-init class="form-outline">
						  <textarea placeholder="Message" id="textAreaExample1" rows="2"></textarea>
						</div>
                      </td>
                    </tr>
                 </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
   </section>
  <script>
  console.log("Makecall page")
  </script>
</main>
	
</body> 

</html>





