<!DOCTYPE html>
<html lang="en" 
data-th-replace="~{pages/base :: parent(~{::#h},~{::title},~{::script})}"
xmlns:th="http://www.thymleaf.org">
<head>
<title>Make Calls</title>
</head>
<body>
<main>
   <section id="h">
      <div class="container-fluid py-4">
       <div class="row">
        <div class="col-12">
          <div class="card my-4">
          
          
<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
    <h6 class="text-white text-capitalize ps-3">Make Call</h6>
    <div class="input-group input-group-outline pe-3" style="width: 200px;">
                        <select
                      id="countries_disabled"
                      class="form-control"
                    >
                      <option selected value="">Select Field</option>
                      <option value="name">Name</option>
                      <option value="phone">Phone</option>
                      <option value="email">Email</option>
                    </select>
      <!-- <input id="Search" type="text" class="form-control" placeholder="Search">  -->
    </div>
  </div>
</div>



            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0"  id="dataTable">
                  <thead>
                    <tr>
                      <th class="text-secondary opacity-7">Client Name</th>
                      <th class="text-secondary opacity-7">Call</th>
                      <th class="text-secondary opacity-7">Status</th>
                      <th class="text-secondary opacity-7">Interested</th>
                      <th class="text-secondary opacity-7">Date</th>
                      <th class="text-secondary opacity-7">Notes</th>                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                    data-th-object="${c}"
                    data-th-each="c : ${pageClients.getContent()}"
                    >
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img 
                             onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                            data-th-src="@{*{cImage}}"
                            src="/img/team-2.jpg" 
                            class="avatar avatar-sm me-3 border-radius-lg" 
                            alt="user"
                            >
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <a  href="/user/clients/clientdetails"
                            class="mb-0 text-sm"
                            data-th-text="*{cName}"
                            >Stephen Nadar</a> 
                            <p 
                            class="text-xs text-secondary mb-0"
                            data-th-text="*{cEmail}"
                            >sn@orkaitsolutions.com</p>
                          </div>
                        </div>
                      </td>
<td>
    <button 
    id="cName"
    class="call-button" 
    data-th-value="*{cName}" 
    th:data-name="*{cName}"
    onclick="openModal(this.dataset.name)">
    Call
    </button>
    <div id="callModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img src="/img/us2.png" alt="Call Icon" class="call-image">            
            <div class="d-flex flex-column justify-content-center">
                            <h5 
                            id="modalName"
                            class="mb-0 text-sm"
                            data-th-text="*{cName}"
                            >Stephen Nadar</h5>
                          </div>
	            
            <div class="button-container">
                <button class="call-action" onclick="makeCall()"><i class="material-icons mt-1">call</i></button>
                <button class="call-end" onclick="endCall()"><i class="material-icons mt-1">call_end</i></button>
            </div>
        </div>
    </div>
  <link rel="stylesheet" href="/css/styles.css">
</td>
                      <td class="align-middle text-center text-sm">
                        <div class="input-group mb-1">
						  <select class="form-select" aria-label="Example select with button addon">
						    <option value="nothing">Nothing</option>
						    <option value="ringing">Ringing</option>
						    <option value="busy">Busy</option>
						    <option value="outofRange">Out of range</option>
						    <option value="switchoff">Switched-off</option>
						    <option value="NoDNE">No. does not exists</option>						    
						  </select>
						</div>
                      </td>
					  <td>
					      <div class="container">
					          <button 
					              class="interest-button ${c.cInterest ? 'interested' : 'not-interested'}"
					              data-th-text="${c.cInterest ? 'Interested' : 'Not Interested'}"
					              data-th-value="*{cInterest}">
					          </button>
					      </div>
					  </td>



                      <td 
                      data-th-text="*{cLastDateContacted}"
                      class="align-middle text-center">
                        10/01/00
                      </td>
                      <td >
						 <div data-mdb-input-init class="form-outline">
						  <textarea placeholder="Message" rows="2"></textarea>
						</div>
                      </td>
                    </tr>
                 </tbody>
                </table>
              </div>
            </div>
          </div>
            <!-- Pagination Component -->
			<div class="paginationContainer">
			  <nav aria-label="Page navigation example">
			    <ul class="pagination justify-content-center">
			    
			      <li 
			      data-th-class="${pageClients.first} ? 'page-item disabled' : 'page-item'"
			      class="page-item">
			        <a 
			        data-th-href="@{'/user/clients/calling?size='+${pageSize}+'&page='+${pageClients.number-1}}"
			        class="page-link" href="#" aria-label="Previous">
    			      <span aria-hidden="true">&laquo;</span>
    			    </a>
			      </li>
			      
			      <li 
			      class="page-item"
			      data-th-each="index : ${#numbers.sequence(0,pageClients.totalPages-1)}">
			        <a 
			        data-th-href="@{'/user/clients/calling?size='+${pageSize}+'&page='+${index}}"
			        data-th-classappend="${index==pageClients.number? 'list-group-item text-white bg-dark' : ''}"
			        class="page-link" 
			        href="#">
			        <span data-th-text="${index+1}"></span>
			        </a>
			      </li>
			      
			      <li 
			      data-th-class="${pageClients.last} ? 'page-item disabled' : 'page-item'"
			      class="page-item">
			        <a 
			        data-th-href="@{'/user/clients/calling?size='+${pageSize}+'&page='+${pageClients.number+1}}"
			        class="page-link" href="#" aria-label="Next">
        			  <span aria-hidden="true">&raquo;</span>
      				</a>
			      </li>
			      
			    </ul>
			  </nav>
			</div>
        </div>
      </div>
      </div>
   </section>
  <script>
  console.log("Makecall page")
  </script>
  <script src="/js/script.js"></script>
</main>
	
</body> 

</html>
