<!DOCTYPE html>
<html lang="en" th:replace="~{pages/base::parent(~{::#k},~{::title},~{::script})}" xmlns:th="http://www.thymleaf.org">
<head>
  <title data-th-text="${signedInUser.uName}+' Profile'">
    Caller Profile
  </title>
</head>
<body>

<main>
   <section id="k">
    <div class="container-fluid px-2 px-md-4 mt-6">

      
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">

          <div class="col-lg-12 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-5">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="btn btn-primary"  href="#" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">arrow_back</i>
                    <span class="ms-1">Go Back</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-danger"  href="/user/clients/email">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Email</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-info"  href="/user/clients/sendsms" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">message</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
<!--            <li class="nav-item">
                  <a class="btn btn-secondary" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">message</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li> -->
                <li class="nav-item">
                  <a class="btn btn-success"  href="#" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">video_chat</i>
                    <span class="ms-1">WhatsApp</span>
                  </a>
                </li> 
                <li class="nav-item">
                  <a class="btn btn-warning" href="#" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">history</i>
                    <span class="ms-1">Client History</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    

          <div class="row"> 
            <div class="col-12 col-xl-6">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">Client Information</h6>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                       <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">                  
                  <ul class="list-group">
                   <hr class="horizontal gray-light my-15"> <!-- one line seperation -->               
                  
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Full Name:</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;" data-th-text="${signedInUser.uName}" ></a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Mobile:</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;" data-th-text="${signedInUser.uPhoneNo}"></a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Email</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;" data-th-text="${signedInUser.uEmail}" ></a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Pan</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">GDTR76578C</a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Address with pin</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;"> kalyan 411303</a>
                    </li>
                  </ul>                              
               </div> 
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <h6 class="mb-0">Call Information </h6>
                </div>
                <div class="card-body p-3">
               
                 <hr class="horizontal gray-light my-15"> <!-- one line seperation -->               
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Calling Status</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;"  >Ringing</a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Interasted Staus</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Interasted</a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Note</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">This is client details page </a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Pan</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">GDTR76578C</a>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0">
                      <div class="d-flex align-items-start flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Address with pin</h6>
                      </div>
                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;"> kalyan 411303</a>
                    </li>
                  </ul> 
                </div>
              
              </div>
            </div>

          </div>
        </div>
      </div>
    
   </section>
    
  <script>
  console.log("Client detail page")
  </script> 
   
</main>
	</body> 
</html>
