<!DOCTYPE html>
<html lang="en" data-th-replace="~{pages/base::parent(~{::#n},~{::title},~{::script})}" xmlns:th="http://www.thymleaf.org">

<head>
<title>Upload Document</title>
</head>
<body>

<main>
   <section id="n">

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">

            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Upload Client Document</h6>
              </div>
            </div>


          </div>
        </div>
      </div>
   </div>
   </section>
  <script>
  console.log("CibilMis page")
  </script>
</main>
	
</body> 

</html>























