<!DOCTYPE html>
<html lang="en"
 th:replace="~{operations/opbase::parent(~{::#c},~{::title},~{::script})}"
  xmlns:th="http://www.thymleaf.org"><title> Cibil Form</title>
</head>
<body>

<main>

   <section id="c">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Generate Cibil</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-secondary opacity-7">Employee Name</th>
                      <th class="text-secondary opacity-7">File</th>
                      <th class="text-secondary opacity-7">View</th>               
                    </tr>
                  </thead>
                  <tbody>
                    <tr 
                     data-th-object="${Empl}"
                     data-th-each="Empl : ${Employee}"
 
                    >
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" data-th-text="*{uName}">John Michael</h6>
                            <p class="text-xs text-secondary mb-0" data-th-text="*{uEmail}">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div >
                          <h6>0</h6>
					      </div>
					                                                       
                      </td>
                      <td>
                         <input type="button" class="btn btn-lg bg-gradient-primary btn-lg  mt-1 mb-0" onclick="location.href='/Cibilform';" value="check cibil" />                                              
                      </td>  
                    </tr>

                                        

                  
                  </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   </section>
</main>
	
</body> 

</html>























